body {
    background-image: url(../assets/house.png);
    background-color: lightgray;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-size: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 7px solid black;
    padding: 0.625em 0.625em;
    background-color: white;
    width: 20%;
    padding: 50px;
}

.col {
    display: flex;
    flex-direction: column;
    /* border: 7px solid black; */
    width: 75%;
    align-items: center;
}

.page_header {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 10%;
    border: 7px solid black;
    padding: 0.625em 0.625em;
    font-size: large;
}

.dashboard {
    /* border: 7px solid black; */
    width: 100%;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    font-size: 30px;
}

.user {
    position: absolute;
    right: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 7px solid black;
    background-color: white;
    align-items: center;
    justify-content: space-between;
}

.delete_button {
    cursor: pointer;
    font-size: 14px;
    background-color: blue;
    border: 2px solid black;
    border-radius: 33px !important;
    color: white;
}

.button {
    cursor: pointer;
    font-size: 20px;
    background-color: blue;
    border: 2px solid black;
    border-radius: 33px !important;
    color: white;
}

.delete_button:focus, .button:focus{
    outline: 0;
}

.button:active {
    background-color: rgb(138, 152, 212);
    font-size: 19px;
}

.delete_button:active {
    background-color: rgb(138, 152, 212);
    font-size: 13px;
}

.copyright {
    position: absolute;
    bottom: 0;
}

.field {
    font-size: 20px;
}

.entry {
    padding: 10px;
    margin: 0 auto;
    outline: none;
    border: 2px solid black;
    border-radius: 50px !important;
}

.content_entry {
    
    padding: 10px;
    margin: 0 auto;
    outline: none;
    border: 2px solid black;
    border-radius: 25px !important;
    /* height: 90px; */
    resize: none;
}

.scroll_list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style:none; 
    width: 300px;
    height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
    margin:0;
    padding:0;
    overflow-wrap: break-word;
    word-wrap: break-word;
    /* border: 7px solid black; */
}

.trash {
    width: 0;
    height: 0;
    cursor: pointer;
}

.trash:focus {
    outline: 0;
}

.trash:active {
    width: 5%;
    height: 5%;
}